* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.6s ease-in-out;
}
#side-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
#main-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    justify-content: center;
    align-items: center;
    float: right;
    position: relative;
    font-size: large;
}
#setting-and-menu {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 100%;
    position: absolute;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    top: 0;
}
#setting-and-menu * {
    cursor: pointer;
    font-size: 25px;
}
#controllers {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    right: 0rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0.5rem;
}
#controllers * {
    height: 1rem;
}
#forward, #backward {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
#controllers #play-btn {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
#search-div {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}
#side-bar ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: auto;
}
#side-bar ul li {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 4rem;
    cursor: pointer;
}
#side-bar ul img {
    width: 20%;
    height: 100%;
}
#musics {
    display: flex;
}
#current-artist-image {
    width: 40%;
    height: 40%;
}
.drop-down-content {
    padding: 1rem;
    display: none;
    position: absolute;
    top: 2rem;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-down-content a {
    text-decoration: none;
    margin-bottom: 1rem;
    color: black;
}
.drop-down-content a:hover {
    background-color: #e4e1e1;
}
#seeking {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
}
@media (max-width: 768px) {
    #side-bar {
        width: 100%;
        background-color: white;
        height: 75%;
        top: 3rem;
    }
    #controllers {
        position: fixed;
        z-index: 5;
    }
    #seeking {
        position: fixed;
        bottom: 3rem;
        width: 100%;
    }
    #main-section {
        flex-direction: row;
        width: 100%;
        height: 5rem;
        background-color: white;
        justify-content: left;
        position: fixed;
        align-items: center;
        bottom: 4rem;
    }
    #main-section img {
        width: 20%;
        height: 100%;
    }
    #menu-icon {
        position: fixed !important;
        top: 1rem;
    }
    .drop-down-content {
        position: fixed;
    }
    #setting-icon {
        position: fixed !important;
        top: 1rem;
        right: 1rem;
    }
    .setting {
        position: fixed !important;
        width: 70% !important;
    }
}
@media (max-width: 405px) {
    #controllers #play-btn {
        font-size: 15px;
        margin-top: 0.1rem;
    }
    #forward, #backward {
        font-size: 15px;
        margin-bottom: 0.6rem;
    }
    #controllers {
        gap: 2rem;
    }
}